blockquote {
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
  position: relative; /*for checkbox*/
  width: 80vw;
}
.blockquote-footer {
  text-align: right;
}
button {
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin-left: auto;
  margin-top: 20px;
  transition: 0.5s;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button:focus {
  outline: none;
}
.searchButton {
  background-color: #fff;
}
.searchButton:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}
.searchForm {
  margin: auto;
  width: 80%;
}
.searchForm input {
  border: none;
  background-color: #fff;
  margin-right: 1rem;
  padding: 5px;
}
.searchForm input:focus {
  outline: none;
}
