blockquote {
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 20% auto 0;
  padding: 1rem;
  position: relative; /*for checkbox*/
  width: 80vw;
}
.blockquote-footer {
  text-align: right;
}
button {
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin-left: auto;
  margin-top: 20px;
  transition: 0.5s;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button:focus {
  outline: none;
}
.quoteSearch {
  border-radius: 50rem;
  position: absolute;
  right: 1%;

  /* padding: 1rem; */
  /* background-color: #0ff; */
  /* border: 1px solid red; */
}
.quoteSearch button {
  margin-left: 1rem;
}
